
/* General */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    min-height: 100%;
    background-color: #fff;
    font-size: 14px;
    color: #333;
    line-height: 26px;
    font-family: 'Open Sans', sans-serif;
}

.container {
  display: grid;
  /* height: 100; */
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.image {
    margin-top: 40px;
    align-self: flex-end;
}

.text-divs {
    font-family: Montserrat, sans-serif;
    color: #9fa3a7;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h1 {
    font-family: "Arvo", sans-serif;
    font-size: 48px;
    line-height: 60px;
    font-weight: 400;
  }

h2 {
    font-size: 32px;
    line-height: 36px;
    margin-top: 20px;
}

.heading-2 {
    font-family: "Arvo", sans-serif;
}

h3 {
    margin: 10px 0 20px 0;
    font-family: "Arvo", sans-serif;
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
}

a {
    /* color: inherit; */
    text-decoration: none;
}

.text-block-2 {
    width: 80%;
    max-width: 290px;
    margin-bottom: 25px;
}

.item {
  display: flex;
}

.d-flex {
    display: flex;
}

.item2,
.item3,
.item5,
.item6,
.item7,
.item8,
.item9 {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.heading-2 {
    max-width: 550px;
}




.item1 {
  background-color: white;


  padding-left: 4%;
  padding-right: 4%;
}

.div-1 {
    width: 32%;
}

.item2 {
  background-color: #F7F8F9;

}

.item3 {
  background-color: orangered;


  color: #fff;
  font-weight: bold;
}

.heading-3 {
    max-width: 230px;
}

.item4 {
  background-color: white;

  
  padding-top: 68px;
  padding-right: 4%;
  padding-left: 4%;
}

.left {
    width: 50%;
    max-width: 180px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.left>img {
    position: relative;
    left: -160%;
    width: 250%;
    max-width: none;
}

.right {
    width: 40%;
}

.item5 {
    background-color: whitesmoke;
    color: #fff;
}

.ciecle {
    background-color: #8166B0;
    border-radius: 50%;
    height: 373px;
    width: 373px;
    flex-direction: column;
    color: #fff;
    font-weight: bold;
}

.text-divs5 {
    color: #fff;
    background-color: hsla(0, 0%, 100%, .08);
    border-radius: 60px;
    padding: 2px 13px 1px 30px;
    background-image: url(https://uploads-ssl.webflow.com/5bc242f45a5ed923b1704210/5bc2f42d5a5ed9663e707e7d_Shape.png);
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: 11px 50%;
}

.ciecle>img {
    margin-top: 20px;
}

a.btn-item5 {
    background-color: #FFC80A;
    padding: 10px 20px;
    border-radius: 50px;
    color: #333;
    font-weight: 700;
}

.item6 {
  background-color: #8F76BC;


}

.item6>img {
    position: relative;
    left: -23px;
}

.item7 {
  background-color: #93B6B7;
  background-image: url("https://uploads-ssl.webflow.com/5bc242f45a5ed923b1704210/5bc2f42d5a5ed97dab707e7e_UX.png");
  background-position: 50% 100%;
  background-size: 80%;
  background-repeat: no-repeat;

  position: relative;
}

.minicaps {
    position: absolute;
    left: 30px;
    top: 20px;
    padding: 0 10px;
    background-color: #fa684f;
    color: #fff;
    border-radius: 5px;
    font-size: 8px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 2px;
}

.item7 > h3 {
    display: block;
    max-width: 280px;
    margin: auto;
    padding-top: 31px;
    padding-bottom: 31px;
    color: #fff;
    text-align: center;
}

img.img-7 {
    position: relative;
    left: -7%;
    width: 90%;
}

.item8 {
  background-color: #38D5F4;

}

.div-block-8 {
    background-color: #35CFED;
    width: 240px;
    height: 240px;
    flex-direction: column;
    border-radius: 50%;
    padding: 0 34px;
    color: #fff;
}

.div-block-8>img {
    width: 43.5px;
}

.item9 {
  background-color: whitesmoke;
}

.minicaps.i9 {
    background-color: #7bc424;
    color: #fff;
    position: static;
}

.item10 {
  background-color: #2C2C2C;
  overflow: hidden;
}

.img-10 {
    position: relative;
    left: -82px;
}

.heading-10 {
    width: 34%;
    color: #fff;
}


/* ***************************************************************** */



.container {
    height: 100vh;
    display: grid;
}


@media screen and (min-width: 768px) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "first-item first-item"
        "second-item second-item"
        "third-item furth-item"
        "fifth-item sixth-item"
        "seventh-item eighth-item"
        "ninth-item eighth-item"
        "tenth-item tenth-item"
        "eleventh-item eleventh-item"
        ;
    }

    .item1 {
        grid-area: first-item;
    }
    .item2 {
        grid-area: second-item;
    }
    .item3 {
        grid-area: third-item;
    }
    .item4 {
        grid-area: furth-item;
    }
    .item5 {
        grid-area: fifth-item;
    }
    .item6 {
        grid-area: sixth-item;
    }
    .item7 {
        grid-area: seventh-item;
    }
    .item8 {
        grid-area: eighth-item;
    }
    .item9 {
        grid-area: ninth-item;
    }
    .item10 {
        grid-area: tenth-item;
    }
    .item11 {
        grid-area: eleventh-item;
    }
}

@media screen and (min-width: 992px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "i1st i1st i2ed i2ed"
        "i3ed i4th i4th i6th"
        "i5th i7th i7th i6th"
        "i8th i9th i10th i10th"
        ;
    }

    .item1 {
        grid-area: i1st;
    }
    .item2 {
        grid-area: i2ed;
    }
    .item3 {
        grid-area: i3ed;
    }
    .item4 {
        grid-area: i4th;
    }
    .item5 {
        grid-area: i5th;
    }
    .item6 {
        grid-area: i6th;
    }
    .item7 {
        grid-area: i7th;
    }
    .item8 {
        grid-area: i8th;
    }
    .item9 {
        grid-area: i9th;
    }
    .item10 {
        grid-area: i10th;
    }
    .item11 {
        grid-area: i11th;
    }
}
